@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

:root {
	--dddcolor: #bbb;
	--borcolor: #bbb;
	--head1color: #333;
	--head2color: #333;
	--yearcolor: #555;
	--pppcolor: #888;
	--head1font: 'Zilla Slab', 'arial', '돋움';
	--head2font: 'Zilla Slab', 'arial', '돋움';
	--yearfont: 'Zilla Slab', 'arial', '돋움';
}
$labtop: 1199px;
$tablet: 779px;
$mobile: 539px;
