@import 'reset';
@import 'variable';

.wrap1 {
	width: 70vw;
	margin: 0 auto;

	h1 {
		width: 100%;
		margin: 25px 0;
		color: #333;
		font-weight: normal;
		font-size: 3.5rem;
		font-family: 'Noto Sans', 'arial', '돋움';
	}

	span {
		border-bottom: 1px solid #bbb;
	}

	.wrap2 {
		width: 100%;
		display: flex;

		.box1 {
			width: 30%;
			padding-right: 50px;

			h2 {
				color: #333;
				font-size: 2rem;
				font-weight: normal;
				font-family: 'Noto Sans', 'arial', '돋움';
			}
		}
		.box2 {
			width: 70%;
			padding-left: 50px;
			border-left: 1px solid #bbb;
			display: flex;
			flex-flow: wrap;

			.year {
				width: 100%;
				color: #555;
				font-family: 'Noto Sans', 'arial', '돋움';
				font-style: italic;

				h3 {
					margin: 15px;
					font-size: 1.5rem;
				}

				p {
					margin: 15px;
					font-size: 0.8rem;
				}
			}
		}
	}
}
